.loginWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid #c5cbd1;
    max-width: 344px;
}

.loginContainer h2 {
    font-size: 20px;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 24px;
}

.inputForm {
    width: 300px;
    padding: 10px 14px;
    border-radius: 6px;
    border: 1px solid #c5cbd1;
    margin: 0px 6px;
    margin-bottom: 12px;
}

.passwordMessage {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    color: #888;
    font-size: 0.9em;
    white-space: normal;
}

.passwordMessage.show {
    max-height: 50px; /* 메시지 높이에 맞춰 조정 */
}

.inputError {
    border: 1px solid red;
}

.errorMessage {
    color: red;
    font-size: 0.9em;
}

.loginFooter {
    width: 100%;
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.loginFooter a {
    font-size: 12px;
    color: #3182f6;
    text-decoration: none;
}

.loginButton {
    border: none;
    border-radius: 8px;
    background-color: #3182f6;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.loginButton:hover {
    background-color: #1968d7;
}

.tosAgree {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.tosAgree label {
    font-size: 12px;
    color: #3d3d3d;
    margin-left: 6px;
}
